
<nav class="nav">
  <a href="index.html" class="brand">Sulawesi<span class="brand-accent">Travel</span></a>
  <div class="nav-right">
    <a class="nav-link" href="index.html">Beranda</a>
    <a class="nav-link" href="travels_list.html">Paket</a>
    <a class="nav-link" href="admin_dashboard.html">Dashboard</a>
    <a class="nav-link" href="travels_list.html">Kelola Paket</a>
    <a class="nav-link" href="reservations.html">Reservasi</a>
    <a class="nav-link" href="admin_payments.html">Pembayaran</a>
  </div>
</nav>
